[MASTER]
ignore=migrations
load-plugins=pylint_django

[MESSAGES CONTROL]
disable=C0111,  # missing-docstring
        C0103,  # invalid-name
        R0903,  # too-few-public-methods
        W0511,  # fixme
